.align_center{
    text-align: center;
    position: relative;
    top: 200px;
}

#search_input{
    width: 35%;
    height: 45px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

body{
    background-color:rgb(23, 59, 70);
}
