.align_center{
    text-align: center;
    position: relative;
    top: 60px;
}

#search_input{
    width: auto;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

body{
    background-color:rgb(23, 59, 70);
}
